@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
    width: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #ffffff;
    background-color: #000000;
}

#black {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    background-color: #000000;
}

h1 {
    font-size: 64px;
    color: #ff0000;
    font-weight: 200;
    text-transform: uppercase;
    padding: 20px;
    margin-left: 30px;
    animation: h1-in 1s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 80%;
}

@keyframes h1-in {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* header */

#header {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    animation: header-fade-out 1s ease, up 1.5s ease;
    animation-timeline: view(), view();
    animation-range: exit 1%, entry 0% cover 75%;
}

.black-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%; /* has to be the same as the animation bottom value */
    background-color: #000000;
    z-index: 10;
}

.logo-title {
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    animation: moveUp 1.5s ease-in-out forwards;
}

.logo-subtitle {
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    animation: moveUp2 1.5s ease-in-out forwards;
    animation-delay: 0.15s; /* Delay time */
}

@keyframes moveUp {
    from {
        bottom: -50%;
    }
    to {
        bottom: 20%; /* Move to the top of the black box */
    }
}

@keyframes moveUp2 {
    from {
        bottom: -50%;
    }
    to {
        bottom: 20%; /* Move to the top of the black box */
    }
}

@keyframes header-fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* trailer */

#trailer {
    width: 70%;
    aspect-ratio: 16 / 9;
    height: auto;
    display: block;
    margin: 0 auto;
    animation: trailer-in 1s ease, trailer-out 1s ease;
    animation-timeline: view(), view();
    animation-range: entry 0% cover 75%, exit 10%;
}

@keyframes trailer-in {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes trailer-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* typewriter */

.center {
    margin-left: 30px;
    animation: type-in 1s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 80%;
}

@keyframes type-in {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.typewriter-container {
    overflow: hidden;
    line-height: 1;
}

.typewriter {
    position: relative;
    font-size: 64px;
    color: #ff0000;
    font-weight: 200;
    text-transform: uppercase;
    padding: 20px;
}

.typewriter.first {
    color: #ffffff;
}

.typewriter.second::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    border-left: 2px solid #ff0000;
    animation: typewriter 4s steps(16) infinite, blink 1s step-start infinite;
}

@keyframes typewriter {
    40%, 60% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

@keyframes blink {
    50% {
        border-left-color: transparent;
    }
}

/* about */

.about-paragraph {
    padding: 0 5%;
    margin-left: 40%;
    margin-bottom: 10vh;
    text-wrap: balance;
    animation: about-in 1s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
}

@keyframes about-in {
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(0px);
    }
}

/* stats */

.stats {
    overflow: hidden;
    color: #ff0000;
    text-transform: uppercase;
    padding: 0 20%;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    bottom: 10%;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 60px;
    animation: stats-in 1s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.stats-container {
    display: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

span.num {
    font-weight: 700;
    font-size: 36px;
}

span.text {
    font-weight: 400;
}

@keyframes stats-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* footer */

#footer {
    text-align: center;
    height: 100vh;
    color: #ff0000;
    font-weight: 400;
    animation: footer-in 1s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 80%;
}

#footer img {
    width: 7.5%;
    margin-top: 10vh;
    margin-bottom: 15px;
}

#footer a {
    text-decoration: none;
    color: #ff0000;
    opacity: 100%;
    transition: 0.5s;
}

#footer a:hover {
    opacity: 50%;
    transform: scale(90%);
}

#footer i {
    margin-top: 5vh;
    font-size: 32px;
    padding: 5px 20px;
}

.vertical-line {
    border-left: 4px solid #ff0000;
    height: 35vh;
    transform: translateY(-275px);
    position: absolute;
    left: 50%;
    margin-left: -2px;
}

#terms {
    margin-top: 40vh;
}

@keyframes footer-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    .black-box {
        height: 35%; /* has to be the same as the animation bottom value */
    }
    .logo-title {
        width: 200px;
    }
    .logo-subtitle {
        width: 200px;
    }
    @keyframes moveUp {
        from {
            bottom: -50%;
        }
        to {
            bottom: 35%; /* Move to the top of the black box */
        }
    }
    @keyframes moveUp2 {
        from {
            bottom: -50%;
        }
        to {
            bottom: 35%; /* Move to the top of the black box */
        }
    }
}